.container {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 60px 0 59px 0;
  background-color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__logo-box {
  max-width: 357px;
}

.header__text-links {
  display: flex;
}

.header__text-links__item+.header__text-links__item {
  margin-left: 101px;
}

.header__text-links__item-link {
  font-style: normal;
  font-weight: 700;
  font-size: 28.9034px;
  line-height: 35px;
}

.header__connect-links {
  display: flex;
  margin-top: 80px;
}

.header__connect-links__header {
  margin-top: 0;
}

.header__connect-links__item {
  max-width: 61px;
}

.header__connect-links__item+.header__connect-links__item {
  margin-left: 50px;
}

.header__connect-links__item-link {
  background-size: 0% 0px;
}

.header__connect-links__item-link:hover {
  background-size: 0% 0px;
}

.poster {
  background-color: #1E1E1E;
}

.poster__inner {
  padding-top: 117px;
  /* padding-left: 101px; */
  padding-bottom: 50px;
}

.poster__title {
  font-family: 'Montserrat';
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
  margin-bottom: 80px;
}

.poster__title-span {
  color: #F0AA04;
}

.poster__descr {
  color: #fff;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 28.9034px;
  line-height: 34px;
  margin-bottom: 60px;
}

.poster__button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 28.9034px;
  line-height: 35px;
  background: #2B7086;
  border-radius: 35.4067px;
  color: #fff;
  padding: 18px 44px 17px;
  cursor: pointer;
  border: none;
}

.video {
  margin-top: 180px;
}

.video__inner {
  background-color: #fff;
  padding: 90px 130px 140px;
  box-shadow: 0px 40px 50px -10px rgba(28, 78, 94, 0.1);
  border-radius: 24px;
}

.video__title {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
  margin-bottom: 45px;
}

.video__items {
  display: grid;
  grid-template-columns: repeat(2, 550px);
  grid-column-gap: 110px;
  grid-row-gap: 70px;
}

.video__item-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 33.0523px;
  line-height: 39px;
  text-align: center;
  margin-bottom: 40px;
}

.results__inner {
  padding-top: 180px;
  padding-bottom: 160px;
}

.results__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 70px;
}

.results__items {
  display: flex;
  justify-content: center;
}

.results__item+.results__item {
  margin-left: 60px;
}

.results__item {
  background-color: #fff;
  max-width: 375px;
  box-shadow: 0px 40px 50px -10px rgba(28, 78, 94, 0.1);
  border-radius: 16px;
}

.results__item-content {
  max-width: 375px;
  padding: 36px 44px;
}

.results__item-img {
  margin-bottom: 36px;
}

.results__item-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  color: #1C1C1C;
  margin-bottom: 35px;
  text-align: center;
}

.results__item-descr {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 34px;
  color: #1C1C1C;
}

.firstSlider {
  background-color: #fff;
  padding: 186px 0 210px;
}

.firstSlider__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 38px;
}

.firstSlider__timing {
  display: flex;
  justify-content: center;
  margin-bottom: 124px;
}

.firstSlider__timing-item {
  display: flex;
  align-items: center;
}

.firstSlider__timing-item__img {
  max-width: 62px;
  margin-right: 22px;
}

.firstSlider__timing-item__content-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 23.0252px;
  line-height: 33px;
}

.firstSlider__timing-item__content-descr {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20.4669px;
  line-height: 24px;
}

.firstSlider__timing-item+.firstSlider__timing-item {
  margin-left: 33px;
}

.firstSlider__content {
  display: flex;
  justify-content: space-between;
}

.firstSlider__content-img {
  max-width: 878px;
  margin-right: 70px;
}

.firstSlider__content-items {
  max-width: 500px;
  bottom: 0;
  margin-bottom: 0;
}

.firstSlider__content-items__item {
  background-color: #EFEFEF;
  border: 0.5px solid #FFFFFF;
  border-radius: 39.0196px;
  height: 100%;
  max-width: 500px;
}

.firstSlider__content-items__item-inner {
  width: 498px;
  padding: 60px 30px 36px 50px;
}

.firstSlider__content-items__item-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 28.9034px;
  line-height: 35px;
  margin-bottom: 34px;
}

.firstSlider__content-items__item-descr {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
}

.firstSlider .slick-list {
  bottom: 0;
  height: 100%;
}

.firstSlider .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.firstSlider .slick-track {
  height: 100%;
}

.firstSlider .slick-arrow {
  bottom: 0;
  left: 50px;
  top: auto;
  width: 50px;
  height: 50px;
  border: 1.44517px solid #1E1E1E;
  background-color: transparent;
  border-radius: 50%;
  z-index: 9;
}

.firstSlider .slick-arrow::before {
  font-size: 0;
  width: 23px;
  height: 23px;
  display: block;
  background-image: url('../images/arrowLeft.svg');
  margin: 0px auto;
  transform: translateX(-3px);
  content: '';
}

.firstSlider .slick-next::before {
  transform: scaleX(-1);

}

.firstSlider .slick-next {
  left: calc(50px + 128px);
}

.firstSlider .slick-dots {
  display: flex;
  bottom: 38px;
}

.firstSlider .slick-dots li {
  width: 0px !important;
  height: 0px !important;
  margin: 0 !important;
}

.firstSlider .slick-dots button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0px !important;
  line-height: 35px !important;
  color: #1E1E1E !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.firstSlider li.slick-active {
  bottom: 30px;
  left: 110px;
}

.firstSlider li.slick-active::after {
  content: '/ 7';
  width: 40px;
  font-size: 28.9034px;
  position: absolute;
  left: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  line-height: 35px;
}

.firstSlider li.slick-active button {
  font-size: 28.9034px !important;
}

.firstSlider .slick-dots button::before {
  content: '' !important;
  width: 0 !important;
  height: 0 !important;
}

.firstSlider ul.slick-dots:nth-last-child() {
  font-size: 20px !important;
}

.team__inner {
  padding: 130px 70px 210px;
}

.team__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 110px;
}

.team__item {
  background-color: #fff;
}

.team__item-inner {
  padding: 95px 50px 95px 90px;
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
}

.team__item-img {
  margin-right: 90px;
  max-width: 477px;
}

.team__item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team__item-content__job {
  margin-top: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.team__item-content__name {
  margin-top: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 60px;
}

.team__item-content__descr {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 28.9034px;
  line-height: 34px;
  margin-bottom: 220px;
}

.team__item-content__connect-list {
  display: flex;
  margin-bottom: 20px;
}

.team__item-content__connect-list__item+.team__item-content__connect-list__item {
  margin-left: 48px;
}

.team__item-content__connect-list__item {
  max-width: 61px;
}

.team .slick-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 9;
}

.team .slider-prev {
  left: -70px;
}

.team .slider-next {
  right: -70px;
}

.program {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}

.program__inner {
  /* padding: 180px 230px 120px 260px; */
  max-width: 1239px;
  padding: 173px 0 252px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}

.program__inner-main {
  background-color: #fff;
}

.program__inner::after {
  position: absolute;
  content: 'БОНУС';
  bottom: -25px;
  left: 260px;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 15px;
  padding: 16px 47px 14px;
  transform: rotate(-5deg);
  background: #03778B;
  box-shadow: 0px 15px 20px -5px rgba(28, 78, 94, 0.25);
  border-radius: 8px;
}



.program__inner2 {
  padding: 160px 230px 0 260px;
}

.program__title {
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 160px;
}

details summary::marker {
  font-size: 0;
}

details {
  padding-bottom: 80px;
  border-bottom: 2.5px solid #DDDDDD;
  font-weight: 400;
  font-size: 28.9034px;
  line-height: 35px;
}

details+details {
  margin-top: 80px;
}

summary {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 20px;
  padding-right: 90px;
}

details>summary:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  background-image: url('../images/open.svg');
  transition: all .3s;
}

details[open]>summary:after {
  transform: rotate(45deg);
  transition: all .3s;
}

.tariff {
  background-color: #2B7086;
  font-family: 'Montserrat';
  font-style: normal;
}

.tariff__inner {
  padding: 90px 0 69px;
}

.tariff__title {
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
  color: #fff;
  text-align: center;
  margin-bottom: 52px;
}

.tariff__items {
  display: flex;
  justify-content: space-between;
}

.tariff__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 450px;
}

.tariff__item-wrapper {
  padding: 44px 47px 43px 42px;
  border: 3px solid #FFFFFF;
  filter: drop-shadow(0px 4px 16px #727272);
  border-radius: 36px;
}

.tariff__item-wrapper__title {
  font-weight: 700;
  font-size: 28.9034px;
  line-height: 35px;
  color: #FFFFFF;
  margin-bottom: 26px;
}

.tariff__item-wrapper__descr {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.tariff__item-wrapper__descr .span__opacity {
  font-weight: 300;
  opacity: 0.8;
}

.tariff__item-wrapper__selected {
  background-color: #fff;
}

.tariff__item-wrapper__selected h4,
.tariff__item-wrapper__selected p {
  color: #1E1E1E;
}

.tariff__item-btn {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  padding: 40px 88px 37px 92px;
  background: linear-gradient(180deg, #F0AA04 0%, #FAD784 0.01%, #F0AA04 100%);
  box-shadow: 0px 15px 10px -5px rgba(28, 78, 94, 0.3);
  border-radius: 36px;
  border: none;
  margin-top: 68px;
  cursor: pointer;
}

.timer {
  background-color: #fff;
}

.timer__inner {
  padding: 128px 0 138px;
}

.timer__title {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 43.3551px;
  line-height: 53px;
  text-align: center;
  margin-bottom: 58px;
}

.timer__wrapper {
  display: flex;
  justify-content: center;
}

#timer {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 65.0326px;
  line-height: 79px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 auto;
  width: 442px;
}

#timer div {
  display: inline-block;
}

.timer__descr {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 28.9034px;
  line-height: 35px;
  display: flex;
  justify-content: space-between;
  max-width: 442px;
  margin: 0 auto;
  transform: translateX(-20px);
}

.calcPresent__inner {
  padding: 143px 0 143px;
  font-family: 'Montserrat';
  font-style: normal;
}

.calcPresent__title {
  font-size: 57.8068px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 57px;
}

.calcPresent__title span {
  color: #F0AA04;
}

.calcPresent__descr {
  font-weight: 300;
  font-size: 28.9034px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 92px;
}

.calcPresent__btn {
  margin: 0 auto;
  display: flex;
  font-weight: 600;
  font-size: 28.9034px;
  line-height: 35px;
  color: #fff;
  border: none;
  padding: 40px 65px 40px 63px;
  background: linear-gradient(357.94deg, #2B7086 1.26%, #329CBD 44.44%, #45C3EC 98.12%);
  box-shadow: 0px 15px 10px -5px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  cursor: pointer;
  max-width: 482px;
  justify-content: center;
}

.questions {
  background-color: #fff;
}

.questions__inner {
  max-width: 1239px;
  padding: 173px 0 252px;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 28.9034px;
  line-height: 35px;
}

.questions__title {
  margin-bottom: 112px;
  text-align: center;
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
}

.questionsForm {
  background-color: #BB2649;
}

.questionsForm__inner {
  max-width: 1168px;
  margin: 0 auto;
  padding: 87px 0 88px;
  font-family: 'Montserrat';
  font-style: normal;
}

.questionsForm__title {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 55px;
}

.questionsForm__form {
  margin-bottom: 30px;
}

.questionsForm__input {
  background: #8F1F39;
  border-radius: 34.5px;
  border: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
  max-width: 246px;
  padding: 18px 10px 16px 32px;
  outline: none;
}

.questionsForm__input+.questionsForm__input {
  margin-left: 20px;
}

.questionsForm__btn {
  background-color: #fff;
  border: none;
  background: #FFFFFF;
  border-radius: 34.5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  max-width: 246px;
  padding: 18px 32px 16px 32px;
  color: #1e1e1e;
  margin-left: 20px;
  cursor: pointer;
}

.questionsForm__descr {
  max-width: 250px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer {
  background-color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
}

.footer__inner {
  max-width: 1500px;
  margin: 0 auto;
  padding: 206px 0 153px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer__logo-box {
  margin-bottom: 86px;
}

.footer__btn {
  display: block;
  margin: 0 auto;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 21.3772px;
  line-height: 26px;
  color: #fff;
  padding: 25px 0 25px;
  width: 100%;
  background: #007787;
  border-radius: 26.626px;
}

.footer__btn-red {
  margin-top: 36px;
  background: #BB2649;
}

.footer__title {
  transform: translateY(-10px);
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 32px;
}

.footer__list {
  font-weight: 400;
  font-size: 31.811px;
  line-height: 39px;
}

.footer__list-item+.footer__list-item {
  margin-top: 6px;
}





/* media ----------------------------------------------*/




@media (max-width: 1500px) {
  .container {
    max-width: 1450px;
  }

  /* header----------------------------------- */

  .header {
    padding: 30px 0;
  }

  .header__logo-box {
    max-width: 270px;
  }

  .header__text-links__item-link {
    font-size: 22px;
  }

  .header__connect-links__item-img {
    max-width: 70%;
  }

  .header__text-links__item+.header__text-links__item {
    margin-left: 50px;
  }

  .header__connect-links__item+.header__connect-links__item {
    margin-left: 25px;
  }

  /* poster----------------------------------- */

  .poster__inner {
    padding-top: 70px;
  }

  .poster__title {
    font-size: 45.8068px;
    line-height: 55px;
    margin-bottom: 30px;
  }

  .poster__descr {
    font-size: 24.9034px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .poster__button {
    font-size: 22.9034px;
    line-height: 24px;
    padding: 18px 33px 18px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 920px;
  }

  /* header----------------------------------- */

  .header {
    padding: 20px 0;
  }

  .header__logo-box {
    max-width: 200px;
  }

  .header__text-links__item-link {
    font-size: 18px;
  }

  .header__connect-links__item-img {
    max-width: 50%;
  }

  .header__text-links__item+.header__text-links__item {
    margin-left: 15px;
  }

  .header__connect-links__item+.header__connect-links__item {
    margin-left: 5px;
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 680px;
  }

  a {
    background-size: 0% 1px;
  }

  a:hover {
    background-size: 100% 1px;
  }

  /* header----------------------------------- */

  .header {
    padding: 10px 0;
  }

  .header__logo-box {
    max-width: 150px;
  }

  .header__text-links__item-link {
    font-size: 14px;
  }

  .header__connect-links__item-img {
    max-width: 30%;
  }

  .header__text-links__item+.header__text-links__item {
    margin-left: 5px;
  }

  .header__connect-links__item+.header__connect-links__item {
    margin-left: 0px;
  }

  .header__connect-links__item-link {
    display: flex;
    justify-content: center;
  }

  /* poster----------------------------------- */

  .poster__inner {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .poster__title {
    font-size: 32.8068px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .poster__descr {
    font-size: 16.9034px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .poster__button {
    font-size: 13.9034px;
    line-height: 14px;
    padding: 14px 17px 14px;
  }
}

@media (max-width: 550px) {
  .container {
    max-width: 530px;
  }

  a {
    background-size: 0% 1px;
  }

  a:hover {
    background-size: 100% 1px;
  }

  /* header----------------------------------- */

  .header {
    padding: 10px 0;
  }

  .header__inner {
    flex-direction: column;
  }

  .header__logo-box {
    max-width: 150px;
    margin-bottom: 7px;
  }

  .header__text-links {
    margin-bottom: 7px;
  }

  /* poster----------------------------------- */

  .poster__inner {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .poster__title {
    font-size: 24.8068px;
    line-height: 29px;
    margin-bottom: 5px;
  }

  .poster__descr {
    font-size: 12.9034px;
    line-height: 18px;
    margin-bottom: 8px;
  }

  .poster__button {
    font-size: 10.9034px;
    line-height: 6px;
    padding: 11px 13px 11px;
  }
}