.container {
  width: auto;
  padding: 0 15px;
  margin: 0 85px;
}

.header__container {
  width: auto;
  padding: 0 15px;
  margin: 0 47px;
}

.header {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 60px 0 59px 0;
  background-color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__logo-box {
  max-width: 357px;
}

.header__text-links {
  display: flex;
}

.header__text-links__item+.header__text-links__item {
  margin-left: 101px;
}

.header__text-links__item-link {
  font-style: normal;
  font-weight: 700;
  font-size: 28.9034px;
  line-height: 35px;
}

.header__connect-links {
  display: flex;
  margin-top: 80px;
}

.header__connect-links__header {
  margin-top: 0;
}

.header__connect-links__item {
  max-width: 61px;
}

.header__connect-links__item+.header__connect-links__item {
  margin-left: 50px;
}

.header__connect-links__item-link {
  background-size: 0% 0px;
}

.header__connect-links__item-link:hover {
  background-size: 0% 0px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 51px 20px 50px 30px;
  height: 50px;
  /* padding: 1em; */
}

.header__text-links {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 28.9034px;
  line-height: 35px;

  color: #1E1E1E;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 60%;
}

.menu>ul {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 870px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 51px;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle~.menu ul {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    align-items: center;
  }

  #menu-toggle:checked~.menu ul {
    border-bottom: 1px solid #333;
    height: 58px;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #fff;
  }

  .menu>ul:not(:last-child) {
    border-bottom: 1px solid #fff;
  }
}


.poster {
  background-color: #1E1E1E;
}

.poster__inner {
  padding-top: 117px;
  /* padding-left: 101px; */
  padding-bottom: 50px;
}

.poster__title {
  font-family: 'Montserrat';
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
  margin-bottom: 80px;
}

.poster__title-span {
  color: #F0AA04;
}

.poster__descr {
  color: #fff;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 28.9034px;
  line-height: 34px;
  margin-bottom: 60px;
}

.poster__button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 28.9034px;
  line-height: 35px;
  background: #007787;
  border-radius: 35.4067px;
  color: #fff;
  padding: 18px 44px 17px;
  cursor: pointer;
  border: none;
}

.video {
  margin-top: 180px;
}

.video__inner {
  background-color: #fff;
  padding: 90px 130px 140px;
  box-shadow: 0px 40px 50px -10px rgba(28, 78, 94, 0.1);
  border-radius: 24px;
}

.video__title {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
  margin-bottom: 45px;
}

.video__items {
  display: grid;
  grid-template-columns: repeat(2, 550px);
  grid-column-gap: 110px;
  grid-row-gap: 70px;
  justify-content: center;
}

.video__item-box__wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}

.video__item-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__item-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 33.0523px;
  line-height: 39px;
  text-align: center;
  margin-bottom: 40px;
}

.results__inner {
  padding-top: 180px;
  padding-bottom: 160px;
}

.results__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 70px;
}

.results__items {
  display: flex;
  justify-content: center;
}

.results__item+.results__item {
  margin-left: 60px;
}

.results__item {
  background-color: #fff;
  max-width: 375px;
  box-shadow: 0px 40px 50px -10px rgba(28, 78, 94, 0.1);
  border-radius: 16px;
}

.results__item-content {
  max-width: 375px;
  padding: 36px 44px;
}

.results__item-img {
  margin-bottom: 36px;
}

.results__item-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  color: #1C1C1C;
  margin-bottom: 35px;
  text-align: center;
}

.results__item-descr {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 34px;
  color: #1C1C1C;
}

.firstSlider {
  background-color: #fff;
  padding: 186px 0 210px;
}

.firstSlider__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 38px;
}

.firstSlider__timing {
  display: flex;
  justify-content: center;
  margin-bottom: 124px;
}

.firstSlider__timing-item {
  display: flex;
  align-items: center;
}

.firstSlider__timing-item__img {
  max-width: 62px;
  margin-right: 22px;
}

.firstSlider__timing-item__content-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 23.0252px;
  line-height: 33px;
}

.firstSlider__timing-item__content-descr {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20.4669px;
  line-height: 24px;
}

.firstSlider__timing-item+.firstSlider__timing-item {
  margin-left: 33px;
}

.firstSlider__content {
  display: flex;
  /* justify-content: space-between; */
}

.firstSlider__content-img__box {
  max-width: 878px;
  margin-right: 70px;
}

.firstSlider__content-img {
  /* max-width: 878px;*/
  width: 100%;
}

.firstSlider__content-items {
  max-width: 500px;
  bottom: 0;
  margin-bottom: 0;
}

.firstSlider__content-items__item {
  background-color: #EFEFEF;
  border: 0.5px solid #FFFFFF;
  border-radius: 39.0196px;
  height: 100%;
  max-width: 500px;
}

.firstSlider__content-items__item-inner {
  width: 498px;
  padding: 60px 30px 36px 50px;
}

.firstSlider__content-items__item-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 28.9034px;
  line-height: 35px;
  margin-bottom: 34px;
}

.firstSlider__content-items__item-descr {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
}

.firstSlider .slick-list {
  bottom: 0;
  height: 100%;
}

.firstSlider .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.firstSlider .slick-track {
  height: 100%;
}

.firstSlider .slick-arrow {
  bottom: 0;
  left: 50px;
  top: auto;
  width: 50px;
  height: 50px;
  border: 1.44517px solid #1E1E1E;
  background-color: transparent;
  border-radius: 50%;
  z-index: 9;
}

.firstSlider .slick-arrow::before {
  font-size: 0;
  width: 23px;
  height: 23px;
  display: block;
  background-image: url('../images/arrowLeft.svg');
  margin: 0px auto;
  transform: translateX(-3px);
  content: '';
}

.firstSlider .slick-next::before {
  transform: scaleX(-1);

}

.firstSlider .slick-next {
  left: calc(50px + 128px);
}

.firstSlider .slick-dots {
  display: flex;
  bottom: 38px;
}

.firstSlider .slick-dots li {
  width: 0px !important;
  height: 0px !important;
  margin: 0 !important;
}

.firstSlider .slick-dots button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0px !important;
  line-height: 35px !important;
  color: #1E1E1E !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.firstSlider li.slick-active {
  bottom: 30px;
  left: 110px;
}

.firstSlider li.slick-active::after {
  content: '/ 7';
  width: 40px;
  font-size: 28.9034px;
  position: absolute;
  left: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  line-height: 35px;
}

.firstSlider li.slick-active button {
  font-size: 28.9034px !important;
}

.firstSlider .slick-dots button::before {
  content: '' !important;
  width: 0 !important;
  height: 0 !important;
}

.firstSlider ul.slick-dots:nth-last-child() {
  font-size: 20px !important;
}

.team__inner {
  padding: 130px 70px 210px;
}

.team__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 110px;
}

.team__item {
  background-color: #fff;
  border-radius: 16px;
}

.team__item-inner {
  padding: 95px 50px 95px 90px;
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
}

.team__item-img {
  margin-right: 90px;
  max-width: 477px;
}

.team__item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team__item-content__job {
  margin-top: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.team__item-content__name {
  margin-top: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 60px;
}

.team__item-content__descr {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 28.9034px;
  line-height: 34px;
  margin-bottom: 220px;
}

.team__item-content__connect-list {
  display: flex;
  margin-bottom: 20px;
}

.team__item-content__connect-list__item+.team__item-content__connect-list__item {
  margin-left: 48px;
}

.team__item-content__connect-list__item {
  max-width: 61px;
}

.team .slick-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 9;
}

.team .slider-prev {
  left: -70px;
}

.team .slider-next {
  right: -70px;
}

.program {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}

.program__inner {
  /* padding: 180px 230px 120px 260px; */
  max-width: 1239px;
  padding: 173px 0 123px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}

.program__inner-main {
  background-color: #fff;
}

.program__inner::after {
  position: absolute;
  content: 'БОНУС';
  bottom: -25px;
  left: 260px;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 15px;
  padding: 16px 47px 14px;
  transform: rotate(-5deg);
  background: #03778B;
  box-shadow: 0px 15px 20px -5px rgba(28, 78, 94, 0.25);
  border-radius: 8px;
}



.program__inner2 {
  padding: 160px 0 125px;
  margin: 0 auto;
  max-width: 1239px;
}

.program__title {
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 160px;
}

details summary::marker {
  font-size: 0;
}

details {
  padding-bottom: 50px;
  border-bottom: 2.5px solid #DDDDDD;
  font-weight: 400;
  font-size: 28.9034px;
  line-height: 35px;
}

details+details {
  margin-top: 80px;
}

summary {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 20px;
  padding-right: 90px;
}

details>summary:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  background-image: url('../images/open.svg');
  transition: all .3s;
}

details[open]>summary:after {
  transform: rotate(45deg);
  transition: all .3s;
}

.tariff {
  background-color: #007787;
  font-family: 'Montserrat';
  font-style: normal;
}

.tariff .container {
  margin: 0 55px;
}

.tariff__inner {
  padding: 90px 0 69px;
}

.tariff__title {
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
  color: #fff;
  text-align: center;
  margin-bottom: 52px;
}

.tariff__items {
  /* display: flex;
  flex-wrap: wrap; */
  /*justify-content: space-between; */
  display: grid;
  /* height: 100%; */
  grid-template-columns: repeat(2, 780px);
  justify-content: center
}


.tariff__item:first-child {
  margin-right: 75px;
}

.tariff__item {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  /* max-width: 760px; */
  position: relative;
  width: 760px;
}

.tariff__item-wrapper {
  padding: 156px 10% 55px;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid #FFFFFF;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  /* position: relative; */
}

.tariff__item-1::before {
  top: 60px;
  position: absolute;
  content: 'оптимальный тариф';
  width: 453px;
  height: 70px;
  background-image: url('../images/optimal_label.png');
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 70px;
  color: #FFFFFF;
  text-align: center;
}

.tariff__item-2::before {
  top: 60px;
  position: absolute;
  content: 'индивидуальный тариф';
  width: 505px;
  height: 70px;
  background-image: url('../images/individual_label.svg');
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 70px;
  color: #FFFFFF;
  text-align: center;
}

.tariff__item-3 .tariff__item-wrapper::before {
  top: 153px;
  /* left: -22px; */
  left: 0;
  position: absolute;
  content: '';
  width: 504px;
  height: 60px;
  background-image: url('../images/alexandr_label.svg');
  z-index: 1;
}

.tariff__item-wrapper__title {
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #FFFFFF;
  padding-bottom: 34px;
  border-bottom: 1.5px solid #FFFFFF;
  margin-bottom: 44px;
  text-transform: uppercase;
  z-index: 2;

  /* font-weight: 700;
  font-size: 28.9034px;
  line-height: 35px;
  color: #FFFFFF;
  margin-bottom: 26px; */
}

.tariff__item-wrapper__descr {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  padding-bottom: 34px;
  border-bottom: 1.5px solid #FFFFFF;
  margin-bottom: 50px;
  height: 190px;
  /* font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF; */
}

.tariff__item-wrapper__list {
  padding-bottom: 85px !important;
  border-bottom: 1.5px solid #FFFFFF;
  margin-bottom: 32px;
  height: 681px;
}

.tariff__item-wrapper__list .span-title {
  margin-top: 53px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 49px;
}

.tariff__item-wrapper__list-item {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  padding-left: 41px;
  position: relative;
}

.tariff__item-wrapper__list-item::before {
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  background-image: url('../images/star.svg');
  top: 2px;
  left: 0;
}

.tariff__item-wrapper__list-item+.tariff__item-wrapper__list-item {
  margin-top: 31px;
}

.tariff__item-price__box {
  padding: 46px 77px 55px;
  background-color: #fff;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.tariff__item-price__box-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 91px;
  color: #1E1E1E;
  margin-bottom: 34px;
}

.tariff__item-price__box-descr {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #1E1E1E;
  margin-bottom: 70px;
}

.tariff__item-price__box-btn {
  padding: 40px 153px 37px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(180deg, #F0AA04 0%, #FAD784 0.01%, #F0AA04 100%);
  border-radius: 57.5px;
  border: none;
  width: 100%;
}

.tariff__item-3 {
  margin-top: 260px;
  max-width: 100%;
  position: relative;
  grid-column: span 2;
  width: 100%;
  /* margin: auto */
}

.tariff__item-3::before {
  position: absolute;
  content: 'Количество мест ОГРАНИЧЕНО';
  top: -110px;
  right: 26px;
  width: 418px;
  padding: 50px 74px;
  background: #D20676;
  box-shadow: 0px 6px 20px rgba(6, 52, 67, 0.3);
  border-radius: 18px;
  transform: rotate(-5.43deg);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 28.1457px;
  /* line-height: 38px; */
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
}

.tariff__item-wrapper__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.tariff__item-3 .tariff__item-wrapper {
  padding: 156px 3.6% 55px;
}

.tariff__item-3 .tariff__item-wrapper__descr,
.tariff__item-3 .tariff__item-wrapper__list {
  padding: 0;
  border: none;
}

.tariff__item-3 .tariff__item-wrapper__descr {
  max-width: 634px;
}

.tariff__item-3 .tariff__item-wrapper__list {
  max-width: 680px;
}



/* .tariff__item-wrapper__descr .span__opacity {
  font-weight: 300;
  opacity: 0.8;
}

.tariff__item-wrapper__selected {
  background-color: #fff;
}

.tariff__item-wrapper__selected h4,
.tariff__item-wrapper__selected p {
  color: #1E1E1E;
}
*/

.timer {
  background-color: #fff;
}

.timer__inner {
  padding: 128px 0 138px;
}

.timer__title {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 43.3551px;
  line-height: 53px;
  text-align: center;
  margin-bottom: 58px;
}

.timer__wrapper {
  display: flex;
  justify-content: center;
}

#timer,
.timer__container-time span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 65.0326px;
  line-height: 79px;
  text-transform: uppercase;
  /* display: inline-block; */
  margin: 0 auto;
  /* width: 490px; */
  display: flex;
  text-align: center;
}

#timer span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 28.9034px;
  line-height: 35px;
}

.timer__container-time span {
  font-weight: 700 !important;
  font-size: 65.0326px !important;
  line-height: 79px !important;
  text-transform: uppercase;
  transform: translate(14px, -4px);
}

.timer__container-time {
  display: flex;
}



.timer__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.timer__container+.timer__container {
  margin-left: 20px;
}

.timer__descr {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 28.9034px;
  line-height: 35px;
  display: flex;
  justify-content: space-between;
  max-width: 490px;
  margin: 0 auto;
  transform: translateX(-20px);
}

.calcPresent__inner {
  padding: 143px 0 143px;
  font-family: 'Montserrat';
  font-style: normal;
}

.calcPresent__title {
  font-size: 57.8068px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 57px;
}

.calcPresent__title span {
  color: #F0AA04;
}

.calcPresent__descr {
  font-weight: 300;
  font-size: 28.9034px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 92px;
}

.calcPresent__btn {
  margin: 0 auto;
  display: flex;
  font-weight: 600;
  font-size: 28.9034px;
  line-height: 35px;
  color: #fff;
  border: none;
  padding: 40px 65px 40px 63px;
  background: linear-gradient(357.94deg, #2B7086 1.26%, #329CBD 44.44%, #45C3EC 98.12%);
  box-shadow: 0px 15px 10px -5px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  cursor: pointer;
  max-width: 482px;
  justify-content: center;
}

.questions {
  background-color: #fff;
}

.questions__inner {
  max-width: 1239px;
  padding: 173px 0 252px;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 28.9034px;
  line-height: 35px;
}

.questions__title {
  margin-bottom: 112px;
  text-align: center;
  font-weight: 700;
  font-size: 57.8068px;
  line-height: 70px;
}

.questionsForm {
  background-color: #BB2649;
}

.questionsForm__inner {
  max-width: 1168px;
  margin: 0 auto;
  padding: 87px 0 88px;
  font-family: 'Montserrat';
  font-style: normal;
}

.questionsForm__title {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 55px;
}

.questionsForm__form {
  margin-bottom: 30px;
}

.questionsForm__input {
  background: #8F1F39;
  border-radius: 34.5px;
  border: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
  max-width: 246px;
  padding: 18px 10px 16px 32px;
  outline: none;
}

.questionsForm__input+.questionsForm__input {
  margin-left: 20px;
}

.questionsForm__btn {
  background-color: #fff;
  border: none;
  background: #FFFFFF;
  border-radius: 34.5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  max-width: 246px;
  padding: 18px 32px 16px 32px;
  color: #1e1e1e;
  margin-left: 20px;
  cursor: pointer;
}

.questionsForm__descr {
  max-width: 250px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer {
  background-color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
}

.footer__inner {
  max-width: 1500px;
  margin: 0 auto;
  padding: 206px 0 153px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer__logo-box {
  margin-bottom: 86px;
}

.footer__btn {
  display: block;
  margin: 0 auto;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 21.3772px;
  line-height: 26px;
  color: #fff;
  padding: 25px 0 25px;
  width: 100%;
  background: #007787;
  border-radius: 26.626px;
}

.footer__btn-red {
  margin-top: 36px;
  background: #BB2649;
}

.footer__title {
  transform: translateY(-10px);
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 32px;
}

.footer__list {
  font-weight: 400;
  font-size: 31.811px;
  line-height: 39px;
}

.footer__list-item+.footer__list-item {
  margin-top: 6px;
}





/* media ----------------------------------------------*/




@media (max-width: 1500px) {
  .container {
    margin: 0 25px;
  }

  .header__container {
    margin: 0 10px;
  }

  /* header----------------------------------- */

  .header {
    padding: 30px 0;
  }

  .header__logo-box {
    max-width: 270px;
  }

  .header__text-links__item-link {
    font-size: 22px;
  }

  .header__connect-links__item-img {
    max-width: 70%;
  }

  .header__text-links__item+.header__text-links__item {
    margin-left: 50px;
  }

  .header__connect-links__item+.header__connect-links__item {
    margin-left: 25px;
  }

  /* poster----------------------------------- */

  .poster__inner {
    padding-top: 70px;
  }

  .poster__title {
    font-size: 45.8068px;
    line-height: 55px;
    margin-bottom: 30px;
  }

  .poster__descr {
    font-size: 24.9034px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .poster__button {
    font-size: 22.9034px;
    line-height: 24px;
    padding: 18px 33px 18px;
  }

  /* video----------------------------------- */

  .video {
    margin-top: 50px;
  }

  .video__inner {
    padding: 60px 45px 85px;
  }

  .video__items {
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-content: center;
  }

  .video__item-box {
    width: 90%;
    height: 90%;
    left: 5%;
  }

  .video__title {
    font-size: 40.8068px;
    line-height: 60px;
    margin-bottom: 25px;
  }

  .video__item-title {
    font-size: 26.0523px;
    text-align: center;
    margin-bottom: 5px;
  }

  /* results----------------------------------- */

  .results__inner {
    padding-top: 120px;
    padding-bottom: 135px;
  }

  .results__title {
    font-size: 40.8068px;
    line-height: 60px;
    margin-bottom: 25px;
  }

  .results__item-content {
    max-width: 337px;
    padding: 30px 24px;
  }

  .results__item-img {
    margin-bottom: 25px;
  }

  .results__item-title {
    font-size: 23px;
    line-height: 35px;
    color: #1C1C1C;
    margin-bottom: 20px;
  }

  .results__item-descr {
    font-size: 20px;
    line-height: 30px;
  }

  /* firstSlider----------------------------------- */

  .firstSlider {
    padding: 90px 0 110px;
  }

  .firstSlider__title {
    font-size: 40.8068px;
    line-height: 60px;
    margin-bottom: 25px;
  }

  .firstSlider__timing {
    transform: scale(0.75);
    margin-bottom: 70px;
  }

  .firstSlider__content-img__box {
    margin-right: 20px;
  }

  .firstSlider__content-items__item-inner {
    padding: 60px 20px 75px 30px;
    width: 460px;
  }

  .firstSlider__content-items {
    max-width: 460px;
  }

  .firstSlider__content-items__item-title {
    font-size: 22.9034px;
    line-height: 10px;
    margin-bottom: 25px;
  }

  .firstSlider__content-items__item-descr {
    font-size: 24px;
    line-height: 30px;
  }

  /* team----------------------------------- */

  .team__inner {
    padding: 80px 55px 120px;
  }

  .team__title {
    font-size: 40.8068px;
    line-height: 60px;
    margin-bottom: 25px;
  }

  .team__item-inner {
    padding: 50px 20px 60px 60px;
  }

  .team__item-content__job {
    margin-top: 0;
    font-size: 25px;
    line-height: 24px;
  }

  .team__item-content__name {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .team__item-content__descr {
    font-size: 24.9034px;
    line-height: 30px;
    margin-bottom: 160px;
  }

  .team__item-img {
    max-height: 702px;
  }

  .team__item-content__connect-list {
    transform: scale(0.75);
    margin-bottom: 0;
  }

  /* program----------------------------------- */

  .program__inner {
    padding: 80px 0 120px;
  }

  .program__title {
    font-size: 40.8068px;
    line-height: 60px;
    margin-bottom: 50px;
  }

  details {
    font-size: 22.9034px;
    margin-bottom: 25px;
    line-height: 30px;
    padding-bottom: 45px;
  }

  summary {
    font-size: 24px;
    line-height: 30px;

  }

  .program__inner2 {
    padding: 80px 0 110px;
  }

  /* tariff-------------------------------------- */

  /* .tariff__inner {
    padding: 50px 0 60px;
  }

  .tariff__title {
    font-size: 40.8068px;
    line-height: 60px;
    margin-bottom: 50px;
  } */

  .tariff__items {
    width: auto;
    display: block;
  }

  .tariff__item {
    padding-top: 100px;
  }

  .tariff__item-1::before {
    top: 160px;
  }

  .tariff__item-2::before {
    top: 160px;
  }

  .tariff__item-3::before {
    top: 18px;
  }

  /* .tariff__item-3 .tariff__item-wrapper {
    padding: 156px 3.6% 430px;
  } */

  .tariff__item-3 .tariff__item-wrapper::before {
    top: 252px;
    left: -6px;
    transform: scale(0.97);
  }

  .tariff__item-3 {
    margin-top: 0;
    width: auto;
  }

  .tariff__item:first-child {
    margin-right: 0;
  }

  .tariff__item-3 .tariff__item-wrapper__list {
    max-width: 100%;
  }

  .tariff__item-3 .tariff__item-wrapper__descr {
    max-width: 100%;
  }

  /* .tariff__item-wrapper {
    padding: 22px 21px 20px 28px;
  }

  .tariff__item-wrapper__title {
    font-size: 22.9034px;
    line-height: 10px;
    margin-bottom: 25px;
  }

  .tariff__item-wrapper__descr {
    font-size: 18px;
    line-height: 25px;
  }

  .tariff__item-btn {
    margin-top: 25px;
    font-size: 26px;
    line-height: 30px;
    padding: 30px 30px 30px 30px;
  } */

  /* timer---------------------------------- */

  .timer__inner {
    padding: 80px 0 100px;
  }

  .timer__title {
    font-size: 22.9034px;
    line-height: 10px;
    margin-bottom: 25px;
  }

  #timer,
  .timer__container-time span {
    font-size: 55px !important;
    line-height: 55px !important;
    /* width: 420px; */
  }

  #timer span {
    font-size: 24px;
  }

  .timer__descr {
    max-width: 420px;
    transform: translateX(-3px);
  }

  /* calcPresent------------------------------- */

  .calcPresent__inner {
    padding: 80px 0 100px;
  }

  .calcPresent__title {
    font-size: 27.9034px;
    line-height: 10px;
    margin-bottom: 25px;
  }

  .calcPresent__descr {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 40px;
  }

  .calcPresent__btn {
    padding: 32px 57px 32px 55px;
    max-width: 432px;
  }

  /* footer----------------------------------------- */

  .footer__inner {
    padding: 80px 0 100px;
  }

  .footer__title {
    font-size: 27.9034px;
    margin-bottom: 25px;
  }

  .footer__list {
    font-size: 14.811px;
  }

  .footer__list-item+.footer__list-item {
    margin-top: 2px;
  }

  .fotoer__list-item__link {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 40px;
  }

  .footer__logo {
    max-width: 90%;
    margin: 0 auto;
  }

  .footer__btn {
    font-size: 18px;
    padding: 20px 0 20px;
  }
}

@media(max-width: 1120px) {
  .video__items {
    display: block;
  }

  .firstSlider__timing {
    margin-bottom: 45px;
  }

  .firstSlider__content {
    justify-content: center;
  }

  .firstSlider__content-img__box {
    display: none;
  }

  .firstSlider__content-items__item-inner {
    padding: 60px 20px 100px 30px;
  }

  /* team----------------------------------- */

  .team__item-img {
    max-height: 200px;
    margin-right: 30px;
  }

  /* tariff--------------------------------------- */

  /* .tariff__items {
    display: block;
  }

  .tariff__item {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .tariff__item-btn {
    margin-top: 10px;
  } */
}

@media (max-width: 1000px) {
  .container {
    margin: 0 15px;
  }

  .header__container {
    margin: 0 5px;
  }

  /* header----------------------------------- */

  .header {
    padding: 20px 0;
  }

  .header__logo-box {
    max-width: 200px;
  }

  .header__text-links__item-link {
    font-size: 18px;
  }

  .header__connect-links__item-img {
    max-width: 50%;
  }

  .header__text-links__item+.header__text-links__item {
    margin-left: 15px;
  }

  .header__connect-links__item+.header__connect-links__item {
    margin-left: 5px;
  }

  .firstSlider__timing-item__content-title {
    font-size: 17px;
  }

  /* results----------------------------------- */

  .results__inner {
    padding-top: 70px;
    padding-bottom: 90px;
  }

  .results__item+.results__item {
    margin-left: 20px;
  }

  .results__item-content {
    padding: 20px 15px;
  }

  .results__item-img {
    margin-bottom: 15px;
  }

  .results__item-title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .results__item-descr {
    font-size: 18px;
    line-height: 27px;
  }

  /* questionsForm------------------------------ */

  .questionsForm__inner {
    padding-top: 70px;
  }

  .questionsForm__title {
    font-size: 40.8068px;
    line-height: 60px;
    margin-bottom: 50px;
  }

  .questionsForm__form {
    display: flex;
    flex-direction: column;
  }

  .questionsForm__input+.questionsForm__input {
    margin-left: 0;
    margin-top: 15px;
  }

  .questionsForm__input {
    max-width: 400px;
  }

  .questionsForm__btn {
    margin-left: 0;
    margin-top: 15px;
  }


}

@media (max-width: 700px) {
  .container {
    margin: 0 5px;
  }

  .header__container {
    margin: 0 0px;
  }

  a {
    background-size: 0% 1px;
  }

  a:hover {
    background-size: 100% 1px;
  }

  /* header----------------------------------- */

  .header {
    padding: 10px 0;
  }

  .header__logo-box {
    max-width: 150px;
  }

  .header__text-links__item-link {
    font-size: 14px;
  }

  .header__connect-links__item-img {
    max-width: 30%;
  }

  .header__text-links__item+.header__text-links__item {
    margin-left: 5px;
  }

  .header__connect-links__item+.header__connect-links__item {
    margin-left: 0px;
  }

  .header__connect-links__item-link {
    display: flex;
    justify-content: center;
  }

  /* poster----------------------------------- */

  .poster__inner {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .poster__title {
    font-size: 32.8068px;
    line-height: 40px;
    margin-bottom: 20px;
    /* text-align: center; */
  }

  .poster__descr {
    font-size: 16.9034px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .poster__button {
    font-size: 13.9034px;
    line-height: 14px;
    padding: 14px 17px 14px;
  }

  /* video----------------------------------- */

  .video {
    margin-top: 30px;
  }

  .video__inner {
    padding: 15px 15px 10px;
  }

  .video__title {
    font-size: 25.8068px;
    line-height: 40px;
    margin-bottom: 12px;
  }

  .video__item-title {
    font-size: 20.0523px;
    margin-bottom: 0px;
  }

  /* results----------------------------------- */

  .results__inner {
    padding-top: 70px;
    padding-bottom: 90px;
  }

  .results__title {
    font-size: 25.8068px;
    line-height: 40px;
    margin-bottom: 12px;
  }

  .results__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .results__item+.results__item {
    margin-left: 0px;
    margin-top: 20px;
  }

  .results__item-content {
    padding: 20px 15px;
  }

  .results__item-img {
    margin-bottom: 15px;
  }

  .results__item-title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .results__item-descr {
    font-size: 18px;
    line-height: 27px;
  }

  /* firstSlider----------------------------------- */

  .firstSlider {
    padding: 40px 0 50px;
  }

  .firstSlider__title {
    font-size: 25.8068px;
    line-height: 40px;
    margin-bottom: 12px;
  }

  .firstSlider__timing {
    transform: scale(0.65);
    margin-bottom: 15px;
  }

  .firstSlider__content-items__item-title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .firstSlider__content-items__item-descr {
    font-size: 18px;
    line-height: 27px;
  }

  /* team----------------------------------- */

  .team__inner {
    padding: 50px 55px 70px;
  }

  .team__item-inner {
    flex-direction: column;
    align-items: center;
    padding: 20px 5px 30px 20px;
  }

  .team__title {
    font-size: 25.8068px;
    line-height: 40px;
    margin-bottom: 12px;
  }

  .team__item-img {
    max-width: 150px;
    max-height: auto;
    margin: 0;
  }

  .team__item-content__name {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .team__item-content__job {
    font-size: 19px;
    line-height: 27px;
    text-align: center;
  }

  .team__item-content__descr {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 50px;
  }

  .team__item-content__connect-list {
    transform: scale(0.65);
  }

  /* program----------------------------------- */

  .program__inner {
    padding: 70px 0 100px;
  }

  .program__title {
    font-size: 25.8068px;
    line-height: 40px;
    margin-bottom: 12px;
  }

  details {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 25px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  details+details {
    margin-top: 30px;
  }

  summary {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .program__inner2 {
    padding: 50px 0 70px;
  }

  .program__inner::after {
    left: 40px;
  }

  /* tariff--------------------------------------- */

  /* .tariff__title {
    font-size: 25.8068px;
    line-height: 40px;
    margin-bottom: 12px;
  }

  .tariff__item-wrapper__title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .tariff__item-wrapper__descr {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  .tariff__item-btn {
    font-size: 22px;
    line-height: 22px;
    padding: 20px 30px 20px 30px;
  } */

  /* timer---------------------------------- */

  .timer__inner {
    padding: 30px 0 50px;
  }

  .timer__title {
    font-size: 23.8068px;
    line-height: 40px;
    margin-bottom: 12px;
  }

  #timer,
  .timer__container-time span {
    font-size: 45px !important;
    /* width: 340px; */
    line-height: 50px !important;
  }

  #timer span {
    font-size: 20px;
  }

  .timer__descr {
    max-width: 340px;
    transform: translateX(-5px);
  }

  /* calcPresent------------------------------- */

  .calcPresent__inner {
    padding: 30px 0 50px;
  }

  .calcPresent__title {
    font-size: 23.8068px;
    line-height: 40px;
    margin-bottom: 12px;
  }

  .calcPresent__descr {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  .calcPresent__btn {
    font-size: 22px;
    padding: 26px 34px 26px 26px;
    max-width: 350px;
  }

  /* questionsForm------------------------------ */

  .questionsForm__inner {
    padding: 30px 0 50px;
  }

  .questionsForm__title {
    font-size: 23.8068px;
    line-height: 40px;
    margin-bottom: 12px;
  }

  .questionsForm__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .questionsForm__input+.questionsForm__input {
    margin-left: 0;
    margin-top: 15px;
  }

  .questionsForm__input {
    max-width: 400px;
  }

  .questionsForm__btn {
    margin-left: 0;
    margin-top: 15px;
  }

  /* footer----------------------------------------- */

  .footer__inner {
    padding: 30px 0 50px;
    flex-direction: column;
    align-items: center;
  }

  .footer__box+.footer__box {
    margin-top: 20px;
  }

  .footer__title {
    font-size: 23.8068px;
    line-height: 40px;
    margin-bottom: 5px;
  }

  .header__connect-links {
    margin-top: 20px;
  }

  .footer__logo-box {
    max-width: 250px;
  }

  .footer__list {
    font-size: 14.811px;
  }

  .footer__list-item+.footer__list-item {
    margin-top: 2px;
  }

  .fotoer__list-item__link {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 40px;
  }

  .footer__logo {
    max-width: 90%;
    margin: 0 auto;
  }

  .footer__btn {
    font-size: 18px;
    padding: 20px 0 20px;
  }
}

@media (max-width: 550px) {
  .container {
    /* max-width: 530px; */
  }

  a {
    background-size: 0% 1px;
  }

  a:hover {
    background-size: 100% 1px;
  }

  /* header----------------------------------- */

  .header {
    padding: 10px 0;
  }

  .header__inner {
    flex-direction: column;
  }

  .header__logo-box {
    max-width: 150px;
    margin-bottom: 7px;
  }

  .header__text-links {
    margin-bottom: 7px;
  }

  /* poster----------------------------------- */

  .poster__inner {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .poster__title {
    font-size: 24.8068px;
    line-height: 29px;
    margin-bottom: 15px;
  }

  .poster__descr {
    font-size: 12.9034px;
    line-height: 18px;
    margin-bottom: 8px;
  }

  .poster__button {
    font-size: 10.9034px;
    line-height: 6px;
    padding: 11px 13px 11px;
  }

  /* video----------------------------------- */

  .video {
    margin-top: 30px;
  }

  .video__title {
    font-size: 20.8068px;
    line-height: 30px;
    margin-bottom: 0px;
  }

  .video__item-title {
    font-size: 15.0523px;
    text-align: center;
    margin-bottom: -8px;
  }

  /* firstSlider----------------------------------- */

  .firstSlider__content-items__item-inner {
    width: 330px;
  }

  .firstSlider__content-items {
    max-width: 330px;
  }

  .firstSlider__timing {
    margin-bottom: 10px;
  }

  /* timer---------------------------------- */

  .timer__inner {
    padding: 30px 0 50px;
  }

  .timer__title {
    font-size: 20.8068px;
    line-height: 30px;
    margin-bottom: 0px;
  }

  #timer,
  .timer__container-time span {
    font-size: 35px !important;
    /* width: 270px; */
    line-height: 30px !important;
  }

  #timer span {
    font-size: 17px;
  }

  .timer__descr {
    max-width: 270px;
    font-size: 17px;
  }

  /* calcPresent------------------------------- */

  .calcPresent__title {
    font-size: 20.8068px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .calcPresent__descr {
    font-size: 17px;
    line-height: 20px;
  }

  .calcPresent__btn {
    font-size: 22px;
    padding: 18px 34px 18px 26px;
    max-width: 280px;
  }

  .footer__logo-box {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .footer__btn {
    font-size: 16px;
    padding: 15px 20px 15px;
  }
}